<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{decktitle}}</title>
  </head>
  <body>
    {{#deck}}
    <div style="text-align: center">
    <div>
    <h2> {{decktitle}}</h2>
    </div>

    <div>
    <p><span style="font-weight: bold">Cards:</span>
      {{#cards}}
      <p>{{question}} :
      {{answer}}</p>
      <br>
      {{/cards}} </p>
    </div>
    <form action="/delete/{{id}}" method="post">
    <button type="submit" name="delete"> Delete Deck </button>
    </form>
    </div>
    {{/deck}}

  </body>
</html>
