<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip Card</title>
  </head>
  <body>
    <h1> Available Decks </h1>
    {{#decks}}
  <a href="/deckdetails/{{id}}"> {{decktitle}}</a>
  <br>
    {{/decks}}

    <form method="post" action="/newdeck">
      <input type="text" name="decktitle" placeholder="Deck Title">
      <input type="text" name="question" placeholder="Card Front">
      <input type="text" name="answer" placeholder="Card Back">
      <button type="submit" name="newdeck"> Add Deck </button>
      </form>
  </body>
</html>
