<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flip Card</title>
  </head>
  <body>
    <h1> Available Decks </h1>
    {{#decks}}
  <a href="/deckdetails/{{id}}"> {{decktitle}}</a>
    {{/decks}}
  </body>
</html>
